host: 0.0.0.0
port: 7301   

server_name: B1 

jetstream {
	store_dir: js/B1 
}


gateway: {
  name: "B",
  write_deadline: 10s,
  write_timeout: "close",
  port: 7321,
  
  tls: {
      cert_file: "./nats-B.crt"
      key_file: "./nats-B.key"
      ca_file: "./certs.crt"
  }
  gateways: [
    {  
        name: "A", 
        urls: [ "nats://localhost:7221", "nats://localhost:7222" ]
    }
    ]
}

cluster {
	 name: B
	 listen: localhost:7311
     
     no_advertise = true
	 
	 authorization {
		user: route_user
		password: route_user
		timeout: 3
	 }
	 routes = [
		nats://route_user:route_user@localhost:7311
		nats://route_user:route_user@localhost:7312
	]
}

accounts: {
    SYS: {
        users: [
            {user: admin, password: admin}
           ]
    }
    
}
system_account: SYS
