host: 0.0.0.0
port: 7201   

server_name: A1 

jetstream {
	store_dir: js/A1 
}


gateway: {
  name: "A",
  write_deadline: 10s,
  write_timeout: "close",
  port: 7221,
  reject_unknown_cluster: true
  
  tls: {
      cert_file: "./nats-A.crt"
      key_file: "./nats-A.key"
      ca_file: "./certs.crt"
  }
  gateways: [
    {  
        name: "B", 
        urls: [ "nats://127.0.0.1:7321", "nats://127.0.0.1:7322" ]
    }
    ]
}

cluster {
	 name: A
	 listen: localhost:7211
     
     no_advertise = true
	 
	 authorization {
		user: route_user
		password: route_user
		timeout: 3
	 }
	 routes = [
		nats://route_user:route_user@localhost:7211
		nats://route_user:route_user@localhost:7212
	]
}

accounts: {
    SYS: {
        users: [
            {user: admin, password: admin}
           ]
    }
    
}
system_account: SYS
